<section class="cart-page" id="page">
    <div class="cart__info">
        <div class="cart-page__about">
            <h3>Корзина</h3>
        </div>
        <div class="cart-page__goods" id="cart-goods"></div>
    </div>
    <div class="cart__pay">
        <div>Итого</div>
        <div id="totalPrice" class="cart__total-price">0 ₽</div>
        <div id="newPrice"></div>
        <div id="allCartStock">Всего товара: 0</div>
        <div>Ввести промокод</div>
        <input type="text" class="promo-text" id="promo-text">
        <button class="promo-button" id='promo-button' style="display: none;">Применить</button>
        <div>Оформить товар</div>
    </div>

</section>
