<section class="goods_page" id="page">
    <div class="wrapper shop-page_wrapper">
        <ul class="breadcrumbs" id="breadcrumbs"></ul>
        <div class="goods_card" data-goodsId="" id="goods_card">
            <div class="top_section">
                <div class="images_section">
                    <div class="main_img">
                        <img src="" alt="" id="gc_image" width="400" height="400" class="card_img" />
                    </div>
                    <div class="thumbs_images" id="thumbs_images">
                        <!-- <img src="" alt="" id="gc_thumbs_image" width="100" height="50" class="card_thumbs_img" /> -->
                    </div>
                </div>

                <div class="card_description_section">
                    <div class="card_title">
                        <h2><span id="gc_title"></span></h2>
                    </div>
                    <h2 class="card_price">Цена: <span id="gc_price"></span></h2>
                    <div class="card_description">
                        <h3>Описание:</h3>
                        <br />
                        <p id="gc_description"></p>
                    </div>
                    <div class="card_rating">Рейтинг: <span id="gc_rating"></span></div>
                    <div class="card_brand">Брэнд: <span id="gc_brand"></span></div>
                    <div class="card_category">Категория: <span id="gc_category"></span></div>
                    <div class="card_stock">Остаток: <span id="gc_stock"></span></div>
                    <div class="card_buttons">
                        <button
                            class="btn_card btn_add-to-cart"
                            id="btn_add_to_cart"
                            data-btn-title="Добавить в корзину"
                            data-btn-goods-id=""
                        >
                            <svg
                                width="19"
                                height="18"
                                viewBox="0 0 19 18"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                                class="button_plus"
                            >
                                <path
                                    d="M9.5 16.875C14.0909 16.875 17.8125 13.3492 17.8125 9C17.8125 4.65076 14.0909 1.125 9.5 1.125C4.90913 1.125 1.1875 4.65076 1.1875 9C1.1875 13.3492 4.90913 16.875 9.5 16.875Z"
                                />
                                <path
                                    d="M6.14123 4.22703L4.46185 5.81802L12.8587 13.773L14.5381 12.182L6.14123 4.22703Z"
                                    fill="white"
                                />
                                <path
                                    d="M14.5381 5.81801L12.8588 4.22702L4.46187 12.182L6.14125 13.773L14.5381 5.81801Z"
                                    fill="white"
                                />
                            </svg>
                        </button>
                        <button
                            class="btn_card btn_add-to-cart-fast"
                            id="btn_add_to_cart_and_buy"
                            data-btn-title="Купить сейчас"
                            data-btn-goods-id=""
                        ></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
