<div class="goods_card small_card" data-goodsId="" id="goods_card">
    <div class="top_section">
        <img src="" alt="" id="gc_image" width="300" height="20" class="card_img" />
        <div class="card_description_section">
            <div class="card_title"><h2 id="gc_title"></h2></div>
            <div class="card_description"><p id="gc_description"></p></div>
            <h2 class="card_price">Цена: <span id="gc_price"></span> рублей.</h2>
            <div class="card_rating">Рейтинг: <span id="gc_rating"></span></div>
            <div class="card_buttons">
                <button
                    class="btn_card btn_add-to-cart"
                    id="btn_add_to_cart"
                    data-btn-title="Добавить в корзину"
                    data-btn-goods-id=""
                ></button>
                <a href="" class="btn_card btn_more-info" id="btn_more_info">
                    <span class="circle">
                        <span class="point"></span>
                        <span class="point"></span>
                        <span class="point"></span>
                    </span>
                </a>
            </div>
        </div>
    </div>

    <div class="bottom_section">
        <div class="card_brand">Брэнд: <span id="gc_brand"></span></div>
        <div class="card_category">Категория: <span id="gc_category"></span></div>
        <div class="card_stock">Остаток: <span id="gc_stock"></span></div>
    </div>
</div>
