<div class="goods_card" data-goodsId="" id="goods_card">
    <img src="" alt="" id="gc_image" height="300" class="card_img" />
    <div class="card_title">Наименование: <span id="gc_title"></span></div>
    <div class="card_description">Описание: <span id="gc_description"></span></div>
    <div class="card_price">Цена: <span id="gc_price"></span> рублей.</div>
    <div class="card_rating">Рейтинг: <span id="gc_rating"></span></div>
    <div class="card_stock">Остаток: <span id="gc_stock"></span></div>
    <div class="card_brand">Брэнд: <span id="gc_brand"></span></div>
    <div class="card_category">Категория: <span id="gc_category"></span></div>
</div>
