<div class="shop-page__check-price" id="range_filter">
    <h3 id="filter_title">(₽)</h3>
    <div class="center">
        <div class="dual-range" data-min="" data-max="" id="range_slider">
            <span class="handle left"></span>
            <span class="highlight"></span>
            <span class="handle right"></span>
        </div>
        <div class="costs_sum">
            <div id="min_" class="min_cost"></div>
            <div id="max_" class="max_cost"></div>
        </div>
    </div>
</div>
