<div id="sort">
    <h3 class="sort-header">сортировать</h3>
    <select class="sort-list" id="sort_select">
        <option value="title,ASC">По названию (А-Я)</option>
        <option value="title,DESC">По названию (Я-А)</option>
        <option value="price,ASC">По возрастанию цены</option>
        <option value="price,DESC">По убыванию цены</option>
        <option value="rating,ASC">По возрастанию рейтинга</option>
        <option value="rating,DESC">По убыванию рейтинга</option>
    </select>
</div>
