<section class="shop-page" id="page">
    <div class="wrapper shop-page_wrapper">
        <div class="shop-page__filters">
            <div class="shop-page__search">
                <form id="search_form" onsubmit="return false">
                    <input type="text" id="search_field" placeholder="Поиск товара..." />
                    <button></button>
                </form>
            </div>
            <div class="filters" id="shop_filters">
                <div id="shop_filters_value"></div>
                <div id="shop_filters_range"></div>
            </div>
            <!-- <div class="shop-page__check-brand">
                <h3>Бренд</h3>
                <ul class="checkbox-list">
                    <li>
                        <label class="checkbox">
                            <input type="checkbox" value="ASUS" />
                            <div class="checkbox__text">ASUS</div>
                        </label>
                    </li>
                    <li>
                        <label class="checkbox">
                            <input type="checkbox" value="GIGABYTE" />
                            <div class="checkbox__text">GIGABYTE</div>
                        </label>
                    </li>
                    <li>
                        <label class="checkbox">
                            <input type="checkbox" value="MSI" />
                            <div class="checkbox__text">MSI</div>
                        </label>
                    </li>
                    <li>
                        <label class="checkbox">
                            <input type="checkbox" value="Palit" />
                            <div class="checkbox__text">Palit</div>
                        </label>
                    </li>
                </ul>
            </div> -->
            <!-- <div class="shop-page__check-price">
                <h3>Цена (₽)</h3>
                <div class="center">
                    <div class="dual-range" data-min="1000" data-max="151999" id="range-slider-price">
                        <span class="handle left"></span>
                        <span class="highlight"></span>
                        <span class="handle right"></span>
                    </div>
                    <div class="costs_sum">
                        <div id="min_price" class="min_cost"></div>
                        <div id="max_price" class="max_cost"></div>
                    </div>
                </div>
            </div> -->
            <!-- <div class="shop-page__check-price2">
                <h3>Количество товара (шт)</h3>
                <div class="center">
                    <div class="dual-range" data-min="2" data-max="26" id="range-slider-stock">
                        <span class="handle left"></span>
                        <span class="highlight"></span>
                        <span class="handle right"></span>
                    </div>
                    <div class="costs_sum">
                        <div id="min_stock" class="min_cost"></div>
                        <div id="max_stock" class="max_cost"></div>
                    </div>
                </div>
            </div> -->
            <div class="shop-page__reset-button">
                <div class="button__container">
                    <button id="reset_filters">Сбросить фильтры</button>
                    <button>Сбросить настройки</button>
                </div>
            </div>
        </div>
        <div class="shop-page__container">
            <div class="shop-page__sort">
                <div class="sort__container">
                    <div class="sort__option-container">
                        <h3 class="sort-header">сортировать</h3>
                        <select class="sort-list">
                            <option>По имени (А-Я)</option>
                            <option>По имени (Я-А)</option>
                            <option>По возрастанию цены</option>
                            <option>По убыванию цены</option>
                            <option>По возрастанию рейтинга</option>
                            <option>По убыванию рейтинга</option>
                        </select>
                    </div>
                    <div class="sort__all-cards-number" id="find_goods">Найдено товаров:</div>
                </div>
                <div id="switcher_view"></div>
            </div>
            <div class="shop-page__content" id="goods"></div>
        </div>
    </div>
</section>
