<div class="shop-page__check-brand" id="value_filter">
    <h3 class="filter_titile" id="filter_title"></h3>
    <ul class="checkbox-list" id="value_list"></ul>
    <template id="value_filter_tpl">
        <li>
            <label class="checkbox">
                <input type="checkbox" id="visible_value" data-filter-name="" value="" />
                <div class="checkbox__text" id="filter_name"></div>
            </label>
            <span class="count_filter_goods">
                <span id="count_filter_goods"></span>
                (<span id="total_count_filter_goods"></span>)
            </span>
        </li>
    </template>
</div>
