html {
    height: 100%;
}
.body_main {
    height: 100%;
    background-color: $color_black;
    color: $color_white;
    // display: flex;
    // flex-direction: column;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.container {
    display: flex;
    flex-direction: column;

    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
}
