.header_basket-icon {
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: 1px solid $color_main_green;
    box-shadow: 2px 2px 5px $color_main_green;
}
