.shop-page__search>form {
    position: relative;
    width: 300px;
    margin: 0 auto;
    height: 42px;
}

.shop-page__search>form>input {
    font-size: 1rem;
    color: aliceblue;
    height: 42px;
    width: 0;
    padding: 0 42px 0 70px;
    border: none;
    border-bottom: 2px solid transparent;
    outline: none;
    background: transparent;
    transition: .4s cubic-bezier(0, 0.8, 0, 1);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
}

.shop-page__search>form>input:focus {
    width: 300px;
    z-index: 1;
    border-bottom: 2px solid $color_main_green;
}
.shop-page__search>form>button {
    background: $color_main_black;
    border: 2px solid $color_main_black;
    border-bottom: 2px solid $color_main_green;
    height: 42px;
    width: 5em;
    position: absolute;
    top: 0;
    left: 0;
}
.shop-page__search>form>button:before {
    content: "Поиск:";
    font-size: 1.2rem;
    color: $color_main_green;
}

.shop-page__check-brand{
    margin-top: 50px;
    color: $color_gray;
    font-size: 1rem;
}

.shop-page__check-brand>h3{
    color: $color_gray;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.checkbox-list>li>label>div{
    display: inline-block;
    margin-bottom: 5px;
    font-size: 1.3rem;
}

.checkbox>input {
	position: absolute;
	z-index: -1;
	opacity: 0;
	margin: 10px 0 0 20px;
}
.checkbox__text {
	position: relative;
	padding: 0 0 0 60px;
	cursor: pointer;
}
.checkbox__text:before {
	content: '';
	position: absolute;
	top: 4px;
	left: 0;
	width: 40px;
	height: 18px;
	border-radius: 13px;
	background: $color_main_black;
	box-shadow: inset 0 2px 3px rgba(0,0,0,.9);
	transition: .2s;
}
.checkbox__text:after {
	content: '';
	position: absolute;
	top: 6px;
	left: 2px;
	width: 15px;
	height: 16px;
	border-radius: 10px;
	background: $color_gray;
	box-shadow: 0 2px 5px rgba(0,0,0,.3);
	transition: .2s;
}
.checkbox>input:checked + .checkbox__text:before {
	background: $color_main_green;
}
.checkbox>input:checked + .checkbox__text:after {
	left: 26px;
}