.shop-page__check-price {
    margin: 50px 0;
}
.center {
    margin-top: 30px;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
}

:root {
    --clr-prim: #76b900;
    --clr-prim-h:#76b900;
    --clr-bad:#D91E18;
    --clr-box:#373737;
    --clr-box-dark:#373737;
    --clr-border:#d9d9d9;
    --txt-clr:#333333;
    --shadow:0px 3px 6px 0px rgba(0,0,0,0.1);
    --cubic:cubic-bezier(0.11, 0.54, 0.33, 1.01);
}

.dual-range {
    --range-size:10px;
    --range-width:90%;
    height:var(--range-size);
    width:var(--range-width);
    background:var(--clr-box-dark);
    border-radius:50px;
    position:relative;
    user-select:none;
    box-shadow: inset 0 2px 3px rgba(0,0,0,.9);
    .highlight {
    position:absolute;
    height:var(--range-size);
    width:calc(calc(var(--x-2) - var(--x-1)) + calc(var(--range-size)) - 2px);
    left:var(--x-1);
    background:var(--clr-prim);
    z-index:0;
    border-radius:50px;
    box-shadow: inset 0 2px 3px rgba(0,0,0,.9);
}

.handle {
    width: 15px;
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    z-index:0;
    cursor:grab;
        &:active {
            cursor:grabbing;
        }

        &.left {
            left:calc(var(--x-1));
        }

        &.right {
            left:calc(var(--x-2));
        }
        &::before {
            content:'';
            color: #d9d9d9;
            width: 20px;
            height: 20px;
            background: url(../images/icons8.png) 0 0/100% 100% no-repeat;
            position:absolute;
            top:-25px;
            left:5px;
            transform:translateX(-50%);
        }
    }
}

.costs_sum {
    color:#d9d9d9;
    font-size: 1.17em;
    margin: 20px 0 0 0;
    display: flex;
    width: 90%;
    justify-content: space-between;
}