.app {
    background-color: $color_main_black;
    flex: 1 0 auto;
}

.shop-page {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    height: 100%;
}

.shop-page__filters {
    padding-left: 0.5em;
}

.checkbox-list{
    list-style: none;
}

.shop-page__reset-button {
    display: flex;
    justify-content: space-around;
    padding: 2%;
}

.shop-page__reset-button>form>button {
    height: 50px;
    width: 100px;
}

.shop-page__container {
    margin: 0 0 0 1%;
    flex: 1 1 auto;
    border: 1px solid rgb(144, 24, 24);
}

.shop-page__sort {
    border: 1px solid rgb(255, 250, 250);
}

.shop-page__content {
    border: 1px solid rgb(66, 123, 0);
}

.shop-page__sort{
    display: flex;
    justify-content: space-between;
}

.sort__container{
    display: flex;
}