.cart-page {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    width: 100%;
    justify-content: space-between;

}

.cart-page__about {
    display: flex;
}

.cart-page__goods>div {
    margin: 20px 0 0 0;
}

.cart__info {
    flex: 1 1 auto;
}

.cart__pay {
    width: 200px;
}

.cart__container {
    width: 100%;
    border: 1px solid #ddd;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "image title buttons"
        "image stock delete";
}

.cart__img {
    grid-area: image;
    width: 200px;
    height: 200px;
}

.cart__title {
    grid-area: title;
    display: flex;
    align-items: center;
}

.cart__stock {
    padding: 0 15px 0 0;
    grid-area: stock;
    display: flex;
    align-items: center;
    justify-content: end;
}

.cart-button__container {
    grid-area: buttons;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart__deleted {
    grid-area: delete;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(78, 210, 30);
}

.after-promo {
    text-decoration: line-through;
}

.cart__pay {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    width: 30%;
    border: 1px solid #fff;
    color: $color_gray;
    padding: 0 10px;
}

.cart__pay>div{
    margin-top: 10px;
    font-size: 1.5em;
}

.cart__pay-logo {
    padding-left: 10%;
    border-bottom: 2px solid $color_main_green;
    font-size: 1.7em;
}

.cart__total-price {
    display: flex;
    padding-right: 10%;
    justify-content:end;
}

.cart__pay>input {
    color: $color_gray;
    padding-left: 5px;
    width: 60%;
    outline: 0;
    font-size: 1.5em;
    border-radius: 2%;
    box-shadow: inset 0 2px 8px rgba(0,0,0,.9);
    border: none;
    border:solid 1px $color_main_black;
    border-radius: 10px;
    background-color: $color_main_black;
    font-family: "Montserrat", sans-serif;
}
