$color_black: #000000;
$color_white: #ffffff;

$color_main_green: #76b900;
$color_main_black: #373737;

$color_mid_green: #475c36;
$color_light_green: #858e7a;
$color_orange: #cd8e18;

$color_gray: #c9c9c9;

$grid_gap: 0.5rem;

$border_radius: 0.5rem;
